body {
    .montserrat;
    p, a {
        .lato;
        outline: none;
    }
    form {
        .lato;
    }
}

.container {
    max-width: 1400px;
    width: 100%;
}

// Preloader
@media @small {
    
    #preloader-circle {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
        width: 300px;
        height: 300px;
        background: rgba(55,147,238,1);
        background: radial-gradient(ellipse at center, rgba(161,204,247,1) 0%, rgba(55,147,238,1) 100%);
        z-index: 99;
        border-radius: 50%;
        .transition;
    }
    .preloader {
        z-index: 9;
        position: fixed;
        background: transparent;
    }

    #preloader-left {
        left: 0;
        top: 0;
	    border-top: 101vh solid @grey-bg;
	    border-right: 101vw solid transparent;
        .transition;
    }

    #preloader-right {
        right: 0;
        bottom: 0;
        border-left: 101vw solid transparent;
	    border-bottom: 101vh solid @grey-bg;
        .transition;
    }
    
    .preloader-hide {
        border-width: 0 !important;
    }

    #logo-box {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height: 50px;
        z-index: 999;
        .transition-fast;
    }
    
    .preloader-logo {
        position: absolute;
        width: 50%;
        height: 100%;
        transition: 0.3s ease;
    }
    
    .logo-left {
        top: 0;
        left: 0;
    }
    
    .logo-right {
        top: -1px;
        right: 24px;
    }
    
    .logo-left-up {
        left: -30px;
        top: -30px;
    }
    
    .logo-right-down {
        top: 31px;
        right: -30px;
    }
}

// Particles bg for hero
canvas {
    display: block;
}

.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @dark-bg;
    z-index: -1;
}

// Hero top
.logo {
    padding-top: 20px;
    text-align: center;
    @media @medium {
        padding: 50px 0 0 30px;
        text-align: left;
    }
}

.card {
    font-size: 12px;
    margin-top: 52px;
    text-transform: uppercase;
    @media @small {
        margin-top: 82px;
        font-size: 16px;
    }
    ul {
        width: 420px;
        float: left;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            color: @white;
            margin: 0 0 20px 20px;
        }
        li:nth-child(3) {
            text-transform: none;
        }
    }
}

#msg-icon {
    color: @blue;
    text-decoration: none;
    .transition-fast;
    font-size: 24px;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
        color: @white;
    }
}

// Hero bottom
#hero {
    position: relative;
    color: @white;
    padding-bottom: 30%;
    background-color: @dark-bg;
    background-image: url(../img/particles.png);
    span {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at center, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0) 46%, rgba(255,255,255,0) 100%);
        top: -50%;
    }
    @media @small {
        background-image: none;
        background: transparent;
    }
    @media @medium {
        padding-bottom: 20%;
    }
}

.lets-code {
    text-align: center;
    @media @medium {
        text-align: left;
        padding-left: 30px;
    }
    h1 {
        font-size: 40px;
        margin-top: 80px;
        @media @small {
            font-size: 60px;
            margin-top: 120px;
        }
        @media @medium {
            font-size: 80px;
            margin-top: 120px;
        }
        @media @large {
            font-size: 100px;
            margin-top: 160px;
        }
    }
    p {
        color: darken(@white, 40%);
        font-size: 12px;
        margin-top: 20px;
        @media @small {
            font-size: 14px;
            margin-top: 10px;
        }
        @media @medium {
            font-size: 16px;
            margin-top: 20px;
        }
        @media @large {
            font-size: 18px;
            margin-top: 30px;
        }
    }
}

#check-out {
        .lato;
        color: @white;
        position: relative;
        bottom: 15%;
        line-height: 38px;
        font-size: 14px;
        display: block;
        width: 150px;
        height: 38px;
        background: @blue;
        margin: 30px auto 0 auto;
        text-decoration: none;
        text-align: center;
        outline: none;
        border: none;
        .transition-fast;
        @media @small {
            margin-top: 30px;
        }
        @media @medium {
            margin-left: 0;
            margin-top: 40px;
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
        }
        @media @large {
            margin-top: 50px;
        }
        &:hover {
            color: @blue;
            background: transparent;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            z-index: -1;
            border: none;
            .transition-fast;
        }
        &:hover:after {
            width: 100%;
            background: @white;
        }
}

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 10%;
    font-size: 30px;
    margin-left: -10px;
    cursor: pointer;
    display: block;
    color: @white;
    .transition;
    @media @large {
        bottom: 13%;
    }
}

// About me
#about-me {
    background: @white;
    position: relative;
    height: 1200px;
    overflow: hidden;
    @media @small {
        height: 800px;
    }
    @media @medium {
        height: 1108px;
    }
}

.section-header {
    margin-top: 50px;
    text-align: center;
    
    @media @medium {
        margin-top: 83px;
    }
    
}

#about-me-header-bg {
    text-transform: uppercase;
    color: @grey-header;
    overflow: hidden;
    padding: 0;
    padding-left: 10%;
    position: absolute;
    right: -50%;
    top: 85px;
    @media @small {
        top: 78px;
    }
    @media @large {
        top: 100px;
    }
    h1 {
        font-size: 140px;
        letter-spacing: 20px;
        margin: 0;
        @media @small {
            font-size: 180px;
            letter-spacing: 27px;
        }
        @media @large {
            font-size: 220px;
            letter-spacing: 34px;
        }
    }
}

#about-me-tablet {
    position: absolute;
    width: 168px;
    height: 238px;
    z-index: 1;
    border: 16px solid @grey-header;
    top: 240px;
    left: 10%;
    box-shadow: 0px 0px 30px -14px rgba(0,0,0,1);
    @media @small {
        left: 20%;
    }
    @media @medium {
        left: 10%;
        width: 336px;
        height: 476px;
        top: 230px;
        border: 32px solid @grey-header;
    }
    @media @large {
        left: 15%;
    }
}

#about-me-grey-bg {
    background: @grey-bg;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: 65%;
    @media @small {
        top: 50%;
        height: 50%;
    }
}

// About me content
#black-border {
    width: 100%;
    height: 5px;
    background: black;
    margin-top: 60px;
    @media @medium {
        margin-top: 150px;
    }
}

.pull-up {
    position: relative;
    z-index: 1;
    @media only screen and (min-width: 1700px) {
        left: -8%;
    }
}

.slider-box {
    height: 140px;
    margin-top: 40px;
    padding: 6px 0;
    box-shadow: 0px 0px 40px -14px rgba(0,0,0,1);
    @media @small {
        margin-top: 160px;
    }
    @media @medium {
        margin-top: 250px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            cursor: grab;
            position: relative;
        }
    }
}

.owl-carousel {
    height: 128px;
}

.center-slide {
    margin-top: 50%;
    transform: translateY(-50%);
}

.foto {
    margin-top: 220px;
    @media only screen and (min-width: 400px) and (max-width: 700px) {
        margin-top: 140px;
    }
    @media only screen and (min-width: 701px) {
        margin-top: 100px;
    }
    @media only screen and (min-width: 850px) and (max-width: 991px) {
        margin-top: 80px;
    }
    img {
        box-shadow: 0px 0px 40px -14px rgba(0,0,0,1);
        width: 100%;
        @media @small {
            width: 300px;
        }
        @media @medium {
            width: 400px;
            }
        }
}

// Social links
#social-links {
    background: @grey-bg;
    position: relative;
    padding-top: 40px;
    z-index: 1;
    @media only screen and (max-width: 570px) {
        margin-top: -20%;
    }
}

.social-link {
    padding: 0;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    font-size: 26px;
    text-align: center;
    @media @small {
        height: 220px;
        line-height: 220px;
        font-size: 50px;
    }
    background: #43609c;
    &:nth-child(2) {
        background: #dae2f7;
    }
    &:nth-child(3) {
        background: #177eb8;
    }
    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        color: @white;
        .transition-fast;
        &:hover {
            color: @blue;
            background: @white;
        }
        span {
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.01) 46%, rgba(255,255,255,0) 100%);
            top: -50%;
            left: 0;
        }
    }
}

#github-link {
    color: #5e227f;
    &:hover {
        color: @blue;
    }
}

.social-link-p {
    display: none;
    @media @small {
        display: inline;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 10px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        i {
            margin-left: 8px;
            font-size: 12px;
        }
    }
}

// Let's work section
#lets-work {
    background: @dark-bg;
    position: relative;
    form {
        margin-top: 60px;
    }
    span {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at center, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0) 46%, rgba(255,255,255,0) 100%);
        top: -50%;
    }
    
    .msg-input, textarea {
        background: @dark-bg;
        outline: none;
        border: none;
        font-weight: bold;
        color: @white;
        font-size: 12px;
        text-transform: uppercase;
        border-bottom: 1px solid @form-grey;
        &:focus {
            color: @white;
            border-bottom: 1px solid @blue;
            font-weight: normal;
        }
    }
    .msg-input {
        padding: 10px;
        margin-bottom: 20px;
    }
}

textarea {
    resize: none;
    height: 100px;
    padding: 10px !important;
}

input::-webkit-input-placeholder {
color: @form-grey;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: @form-grey;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: @form-grey;  
}
 
input:-ms-input-placeholder {  
color: @form-grey;  
}

textarea::-webkit-input-placeholder {
color: @form-grey;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: @form-grey;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: @form-grey;  
}
 
textarea:-ms-input-placeholder {  
color: @form-grey;  
}

#form-btn {
    color: @white;
    background: @blue;
    border: none;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
    .transition-fast;
    &:hover {
        background: @white;
        color: @blue;
    }
}