@import 'bootstrap.min.css';
.transition {
  transition: 0.8s ease-out;
}
.transition-fast {
  transition: 0.5s ease;
}
body {
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.container {
  max-width: 1400px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #preloader-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    background: #3793ee;
    background: radial-gradient(ellipse at center, #a1ccf7 0%, #3793ee 100%);
    z-index: 99;
    border-radius: 50%;
    transition: 0.5s ease;
  }
  .preloader {
    z-index: 9;
    position: fixed;
    background: transparent;
    transition: 0.8s ease-out;
  }
  #preloader-left {
    left: 0;
    top: 0;
    border-top: 100vh solid #f6f6f6;
    border-right: 100vw solid transparent;
  }
  #preloader-right {
    right: 0;
    bottom: 0;
    border-left: 100vw solid transparent;
    border-bottom: 100vh solid #f6f6f6;
  }
  .preloader-hide {
    width: 0;
  }
}
canvas {
  display: block;
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #28292f;
  z-index: -1;
}
.particles span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 100%);
  top: -50%;
}
.logo {
  padding-top: 20px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .logo {
    padding: 50px 0 0 30px;
    text-align: left;
  }
}
.card {
  font-size: 12px;
  margin-top: 52px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .card {
    margin-top: 82px;
    font-size: 16px;
  }
}
.card ul {
  width: 420px;
  float: left;
  margin: 0;
  padding: 0;
}
.card ul li {
  display: inline-block;
  color: #ffffff;
  margin: 0 0 20px 20px;
}
.card ul li:nth-child(3) {
  text-transform: none;
}
.card a {
  color: #3793ee;
  text-decoration: none;
  transition: 0.5s ease;
  font-size: 24px;
  margin-right: 5px;
}
.card a:hover {
  color: #ffffff;
}
#hero {
  position: relative;
  color: #ffffff;
  padding-bottom: 30%;
  background-color: #28292f;
  background-image: url(../img/particles.png);
}
@media only screen and (min-width: 768px) {
  #hero {
    background-image: none;
    background: transparent;
  }
}
@media only screen and (min-width: 992px) {
  #hero {
    padding-bottom: 20%;
  }
}
.lets-code {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .lets-code {
    text-align: left;
    padding-left: 30px;
  }
}
.lets-code h1 {
  font-size: 40px;
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  .lets-code h1 {
    font-size: 60px;
    margin-top: 120px;
  }
}
@media only screen and (min-width: 992px) {
  .lets-code h1 {
    font-size: 80px;
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .lets-code h1 {
    font-size: 100px;
    margin-top: 160px;
  }
}
.lets-code p {
  color: #999999;
  font-size: 10px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .lets-code p {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .lets-code p {
    font-size: 14px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .lets-code p {
    font-size: 16px;
    margin-top: 30px;
  }
}
#check {
  color: #ffffff;
  position: relative;
  bottom: 15%;
  line-height: 38px;
  font-size: 14px;
  display: block;
  width: 150px;
  height: 38px;
  background: #3793ee;
  margin: 30px auto 0 auto;
  text-decoration: none;
  text-align: center;
  transition: 0.5s ease;
}
@media only screen and (min-width: 768px) {
  #check {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) {
  #check {
    margin-left: 0;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  #check {
    margin-top: 50px;
  }
}
#check:hover {
  color: #3793ee;
  background: transparent;
}
#check:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease;
}
#check:hover:after {
  width: 100%;
  background: #ffffff;
}
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 30px;
  margin-left: -10px;
  cursor: pointer;
  display: block;
  color: #ffffff;
  transition: 0.8s ease-out;
}
@media only screen and (min-width: 1200px) {
  #arrow-down {
    bottom: 13%;
  }
}
#about-me {
  background: #ffffff;
  height: 4000px;
  width: 100%;
}
